body { 
  display:  flex;
  margin: 0;
  font-family: sans-serif;
}

body nav {
  width: 70rem;
}

article {
  margin-left: 19px;
}
header {
  margin: 18px;
}

nav ul {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
}

nav ul li {
  border-style: solid;
  border-width: 1px;
  border-color: #f1f1f1;
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color:black;
  
}

nav ul li a:visited,
nav ul li a:active {
  color:black;
} 


main {
  width: 212%;
  margin: 10px;
}

p {
  margin: 20px;
}

.hide {
  display: none;
}